.container {
  height: 100%;
  width: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: absolute;
  z-index: 1;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 9em !important;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: -.04em;
  text-transform: uppercase;
  text-align: center;
  filter: drop-shadow(1px 1px 2px #000);
}
